<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShopBot By ByteBandits</title>
    <link rel="stylesheet" href="/style.css">
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start; /* Align content at the top */
            align-items: center;
           
           /* Set your desired background color here */
        }
        body{
            background-image: url('/images/plain.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }

        .enter-background {
            text-align: center;
            margin-top: 20px; /* Adjust the top margin for the text */
        }

        .enter-text {
            font-size: 24px; /* Set your desired font size here */
            cursor: pointer;
            position: fixed;
            bottom: 20px; /* Adjust the distance from the bottom */
            right: 20px; /* Adjust the distance from the right */
        }

        h1 {
            text-align: center;
            font-size: 50px; /* Set your desired font size here */
        }

        /* Add a class to hide the form initially */
        .search-form {
            display: none;
        }
    </style>
</head>

<body>
    <div class="enter-background">
        <h1>ShopBot By ByteBandits</h1>
        <a href="/redirect" class="enter-text">
            
            <img src="/images/icon.png" height="50%" width ="50%" alt="Image Description">
          </a>
          
    </div>

    <!-- Your other HTML content here -->

    <!-- Your scripts here -->
</body>

</html>